@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body_background: #fef6dd;
  --body_color: black;
  --body_primaryCard: #ffffff;
  --body_primaryBorder: #9d8640;
  --body_primaryDetail: #f9f6ea;
  --body_primaryBg: #e0ce93;
  --body_primaryText: #403d22;
  --body_text: #1f2937;
}
/* all: #131312 cardbg: #000000 details: #3b3729 */

[data-theme="dark"] {
  --body_background: #1e1e1c;
  --body_color: white;
  --body_primaryCard: #000000;
  --body_primaryBorder: #4b3d10;
  --body_primaryDetail: #3b3729;
  --body_primaryBg: #e0ce93;
  --body_primaryText: #403d22;
  --body_text: white;
}

* {
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
  }

body {
  background-color: var(--body_background);
  color: var(--body_text);
}
.details {
  background-color: var(--body_primaryCard);
}
.detail-box {
  background-color: var(--body_primaryDetail);
}

.role {
  background-color: var(--body_primaryDetail);
}

.mystyle {
  background-color: var(--body_primaryCard);
  color: var(--body_text);
}

.menustyle {
  background-color: var(--body_primaryCard);
  color: var(--body_text);
}

.lis li {
  background-color: var(--body_background);
}